/* Colour Scheme:
Blue - #2E76FF
Background - #131415
Light Grey - #C9C9C9
Gray - #B1B1B1
Dark Grey - #696969 */
* {
    margin: 0;
    padding: 0;
    border: 0;
  }
.sticky_nav_bar {
    box-shadow: 0px 0px 3px 0px #131415;
    position: sticky;
    top: 10px;
  }
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
  }
body {
    font: normal 18px/22px "Varela Round", sans-serif;
    background-color: #131415;
    
  }
  section.sec1

.fixed-nav-bar li, .fixed-nav-bar a { 
    height: 50px;
    line-height: 50px;
  }
  .menu {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  .menu a, .menu a:visited {
    color: #ffffff;
  }
  .menu a:hover, .menu a:target {
    color: #ebebeb;
  }
  .menu-items {
    display: inline-block;
  }
  .menu-items li {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
  .show, .hide {
    display: none;
    padding-left: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center left;
    color: #dde1e2;
  }
  @media only screen and (max-width: 800px) {
    .menu { 
      position: relative;
      width: 100%;
    }
    
    .menu-items {
      display: none; 
      width: 100%;
      margin-top: 50px;
      background-color: #008378;
    }
    .menu-items li {
      display: block;
      text-align: center;
    }
    .show, .hide {  
      position: absolute;
      top: 0;
      right: 15px;
    }
    .show {
      display: inline-block;
    }
    .hide {
      display: none;
    }
    #menu:target .show {
      display: none;
    }
    #menu:target .hide, #menu:target .menu-items {
      display: inline-block;
    }
  }
  
  @media only screen and (max-width: 220px) {
     .show, .hide {
      font-size: 14px;
    }
  }