/* Colour Scheme:
Blue - #2E76FF
Background - #131415
Light Grey - #C9C9C9
Gray - #B1B1B1
Dark Grey - #696969 */
html{
  scroll-behavior: smooth;
}
.bg{
    background: #131415;
    width: 100vw !important;
    overflow-x: hidden;
}

/* nav br*/
.sticky-top{
  position: fixed;
  top:0;
}
.navbar {
    background: #131415;
    size:800px;
  }

  
.nav-item {
    float: right !important;
    right: 2px !important;
    margin: auto 10px;  
    font-family: "Montserrat-Black", sans-serif;
    width: 100px;
    text-align:center;
  }
  
.navbar-nav {
    float: right !important;
    position: relative;
    margin: 5px 50px !important;
  }

.nav-link {
    color: azure !important;
}

.nav-link:hover {

  border-bottom: 2px solid  #2E76FF;
   
}
#img {
    width: 80px !important;
    size: 100px !important;
    bottom: 150%;
    position:relative;
    float: left !important;
    height: 80px !important;
     
}

.reg{

    background-color:#2E76FF !important;
    display: inline-block !important;
    border-radius: 20px !important;
    border-color: #2E76FF !important;
    background-color:#2E76FF !important; 
    /* display: inline-block !important; */
    border-radius: 6px !important;
    /* border-color: #2E76FF !important; */
    width:120px !important; 
    /* height: 25px;  */
    text-align: center !important;
    padding:15px;
    
   
    }

/*nav bar*/
/* event description*/


#laptop{
    height: 230px;
    display: block;
    margin: auto;
}
.laptop1 {
    float: left;
    padding-top: 80px;
    padding-left: 19% !important;
    margin: auto;
}
.laptop2 {
    color: white;
    text-align: justify;
    font-size: 22px !important;
    float: right;
    padding-top: 60px;
    padding-left: 70px;
    padding-right: 70px;
}

#laptop{
    height: 310px !important;
}
#laptop2{
     padding: 50px; 
} 
.text{
color:  azure;
}
@media  (min-width:780px){
  .h5s{
    margin-bottom: 0px;
    color:  #696969;
    margin-top: 2.4%;
    text-align: center;
    font-size:3em; 
  }
  .h1s{
    margin-top: 0px;
    color:  #2E76FF ;
    font-size: 6em;
    font-weight: 650;
    text-align: center;
  }
}

/* event description*/


/* author bhavesh intro and countdown Start */

.wordsh1{
  font-family: sans-serif;
  font-size: 9em;
  line-height: 1.5;
  margin-bottom: 0px;
  font-weight: bold;
  margin-left: 1.5%;
  color: #2E76FF;
  margin-top: 0px;
}
.wordsh6u{
  margin-top: 1%;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 2.7em;

  line-height: 1.5;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 1.5%;
  color: white;
}
.wordsh6d{
margin-top: 1%;
font-family: "Montserrat-Black", sans-serif;
font-size: 2.4em;
line-height: 1.5;
margin-bottom: 5px;
margin-top: 0px;
margin-left: 1.5%;
color: white;
}

table tr td{
  padding-right: 0.5em;
  padding-left:  0.5em;
  border-right: 1px solid #696969;
}
table tr td:last-child{
  border-right: none;
}
.adg_txt{
  text-align: left;
}
.txt_centre{
  text-align: center;
  margin-top: 1em;
}

.info{
  font-family: sans-serif;
  font-size: 5em;
}

.imglp{
width:70%;
display: block;
margin: 0 auto;
}

.seclp{
  margin-top: 3%;
margin-left: 14.5%;
}

.RButton{
margin-left: 20%;
margin-top: 3%;
background-color: #2E76FF; 
border: none;
color: white;
padding: 2% 14%;
text-align: center;
text-decoration: none;
font-size: 2.5rem;
border-radius: 6px;

}
.countdownContainer{
color: white;
text-align: center;
font-family: sans-serif;
margin-left:auto; 
margin-right:auto;

}
.tab1{
font-size: 1.6em;font-weight:530
}
.tab2{
font-size: 1.6em
}
.h4s{
margin-bottom: 0px; color:  #696969;margin-top: 2.4%;text-align: center;font-size:4em 
}
.h1s{
margin-top: 0px;color:  #2E76FF ;font-size: 7em;font-weight: 650; text-align: center
}
.imgtim{
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 5%;
}
/*media query start*/


@media  (min-width:1000px){

  .wordsh1{
    font-family: sans-serif;
    font-size: 7.5em;
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight: bold;

    color: #2E76FF;
    margin-top: 0px;
}
.wordsh6d{
  margin-top: 0%;
  font-family: "Montserrat-Black", sans-serif;
  font-size: 2.04em;

  line-height: 1.5;
  margin-bottom: 5px;
  margin-top: 0px;
  
  color: white;
}
  .imglp{
    width: 82%;
    margin-left: 5%;
   
  }
  .seclp{
    margin-left: 8%; 
    margin-top: 10%;
    
   
  }
  .wordsh6u{
    margin-top: 0%;
    font-family: "Montserrat-Black", sans-serif;
    font-size: 2.2em;
    line-height: 1.5;
    margin-bottom: 0px;
    margin-top: 0px;
    color: white;
}
  
.RButton {
    
  background-color: #2E76FF; 
  border: none;
  color: white;
  padding: 3% 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 3%;
  font-size: 2.3rem;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 4%;
}
.countdownContainer{
  margin-top: 10px;
}
.tab1{
  font-size: 1.8em;font-weight:550
}
.tab2{
  font-size: 1.5em
}
.h4s{
  margin-bottom: 0px; color:  #696969;margin-top: 0.5vh;text-align: center;font-size:3em;
  margin-top: 5%;
  
}
.h1s{
  margin-top: 0px;color:  #2E76FF ;font-size: 6em;font-weight: 650; text-align: center;
  
}
.imgtim{
  display: block;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 5%;
}
}


/* author bhavesh intro and countdown End */


.exp{
  font-family: sans-serif;
  font-size: 3vh;
  color: #fff;
  
}

.contact{
  color: #131415;
  height: fit-content;
  padding-top:4vh;
  padding-bottom: 4vh;
}

.ll{
  font-family: sans-serif;
  font-size: 2vh;
  color:#B1B1B1;
}
.resources{
  background: #2E76FF;
  height: fit-content;
  text-align: center;

}
.resource-btn{
    text-align: center;
    height:18vh;
    width: 100vw;
    padding-left: 17vw;
}
#rbtn{
  background-color: rgb(255, 255, 255);
  width: 20vw;
  height: 10vh;
  float: left;
  margin:1vw;
  margin-bottom: 5vh;
  font-size: 2.2vw;
  text-decoration: none;
  padding-top:3vh;
  color: #2E76FF;

}
#rbtn>img{
  width:1.5vw;
  float: right;
  margin-right: 1vw;
}
.footer_logo{
  padding-top:3vh;
  padding-bottom:1vh;
  display: block;
  margin-left: 43vw;
  margin-right: auto;
}

.footer_logo>img{
  width:20%;
}
@media only screen and (max-width: 780px){
  .footer_logo>img{
    width:30%;
  }
}

.det-text{
  padding-top: 150px;
  text-align: center;
  color: #08038C; 
   
}
.det-text2{
  color: #2E76FF;
  padding-top: 5px;
  font-size: 4em;
  padding-bottom: 20px; 
}
.det{
  position: relative;
  height: 100%;
  width: 100%;
}
.det1{
  position: relative;
  /* float: left; */
  border-radius: 10px;
  background-color: #2E76FF;
  width: 190px;
  height: 240px;
  margin: auto;
 
}

.det .det1:nth-child(1){
  margin: 20px;
  padding: 8px 13px;
}
.det .det1:nth-child(2){
  margin: 20px;
  padding: 8px 13px; 
}
.det .det1:nth-child(3){
  margin: 20px;
  padding: 8px 13px;
}
.det1 > img{
  width: 60%;
  margin: auto;
  display: block;
  padding-top: 20px;
}

.det-txt1{
  text-align: center;
  color: aliceblue;
  font-size: 1.5em;
  font-weight: 700;
  padding-top: 1em; 
}
.det-txt2{
  text-align: center;
  color: aliceblue;
  font-size: 1em;
  padding-top: 0px;
  letter-spacing: 0.08vw;
  font-weight: 300;
}
#desc{
  margin-bottom: 150px;
}
.des{
  padding-top: 60px;
  text-align: center;
  color: #08038C; 
}
.des > h1
{
  color: #2E76FF;
  padding-top: 10px;
  font-size: 3em;
  padding-bottom: 20px; 
}
.card-txt1{
  text-align: justify;
  color: black;
  font-size: 160%;
  letter-spacing: 0.08vw;
}
.card-1 {
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0.1vw 0.1vw 1vw 0.2vw rgb(12, 49, 116);
  margin: 2%;
  border-radius: 10px !important;
  height: 100% !important;
}
.det2{
  padding: 10px;
}


